node_modules
.env
*.log
out.mp4
test_out.mp4
test_render.js
test-render.js
test-compiler.js
test-output.html
temp/
hyperlint-*
hyperframes-*

# .env file in backend folder
backend/.env
backend/.env.example


# .env file in root folder
./.env

./.env.local
